.columns > div {
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
}

.columns img {
  width: 100%;
  border-radius: 10px;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

.columns > div > div :is(h2, h3) {
  letter-spacing: -0.01em;
}

.columns > div > div p {
  line-height: 1.65;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: var(--space-2xl, 48px);
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}
