<head>
  <title>{{title}} | Upcoming Events</title>
  <meta name="description" content="{{description}}">
  <meta name="date" content="{{occurrenceDate}}">
  <meta name="keywords" content="events, upcoming-events">
</head>
<body>
  <header></header>
  <main>
    <div>
      <div class="hero">
        <div>
          <div>
            <picture>
              <source
                type="image/webp"
                srcset="https://main--demo--scdemos.aem.page/media_177a7c712187a211f6f8145d918eda02fad1ad060.jpg?width=2000&format=webply&optimize=medium?width=2000&format=webp&optimize=medium"
                media="(min-width: 600px)"
              >
              <source
                type="image/webp"
                srcset="https://main--demo--scdemos.aem.page/media_177a7c712187a211f6f8145d918eda02fad1ad060.jpg?width=750&format=webp&optimize=medium"
              >
              <source
                type="image/jpeg"
                srcset="https://main--demo--scdemos.aem.page/media_177a7c712187a211f6f8145d918eda02fad1ad060.jpg?width=2000&format=jpg&optimize=medium"
                media="(min-width: 600px)"
              >
              <img
                loading="lazy"
                alt=""
                src="https://main--demo--scdemos.aem.page/media_177a7c712187a211f6f8145d918eda02fad1ad060.jpg?width=750&format=jpg&optimize=medium"
                width="1600"
                height="900"
              >
            </picture>
          </div>
        </div>
        <div>
          <div>
            <h1 id="{{id}}">{{title}}</h1>
          </div>
        </div>
      </div>
      <div class="columns">
        <div>
          <div>
            <p>{{description}}</p>
            {{#details}}<p>{{details}}</p>{{/details}}
            <p>Type : {{type}}</p>
            <p>Date : {{occurrenceDate}}</p>
            <p>Time : {{time}}</p>
          </div>
        </div>
      </div>
      <div class="section-metadata">
        <div>
          <div>Style</div>
          <div>divider, center</div>
        </div>
      </div>
    </div>
    <div>
      <h2 id="other-events">Other Events</h2>
      <div class="related-articles">
        <div>
          <div>keywords</div>
          <div>events</div>
        </div>
      </div>
    </div>
  </main>
  <footer></footer>
</body>
